<link rel="import" href="polymer/polymer.html">
<link rel="import" href="paper-toast/paper-toast.html">
<link rel="import" href="platinum-sw/platinum-sw-cache.html">
<link rel="import" href="platinum-sw/platinum-sw-register.html">
<link rel="import" href="cards-container/cards-container.html">
<link rel="import" href="relational-card/relational-card.html">
<!-- put here the components to vulcanize -->
