<dom-module id="mi-home">
  <!--  Aquí importé mis componentes -->
  <link rel="import" href="../../../components/cards-container/cards-container.html">
  <link rel="import" href="../../../components/relational-card/relational-card.html">

  <style>
    :host {
      display: block;
    }

  </style>
  <template>

    <h1><span>{{titulo}}</span></h1>

    <!-- Invoco mis componentes -->
    <cards-container></cards-container>
    <relational-card></relational-card>

  </template>

<script>
(function() {
  Polymer({
    is: 'mi-home',

    properties: {
      titulo: {
        type: String,
        value: 'Memory Game!',
        notify: true
      }


      
    }
  });
})();
</script>

</dom-module>
